.dotsContainer {
  border-top: 1px solid hsl(0, 0%, 59%);
  padding-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* style the button elements which are children of the a from <NavLink> component */
.navButton {
  width: 1rem;
  aspect-ratio: 1;
  border: 0;
  background-color: hsl(0, 0%, 59%);
  border-radius: 50%;
}

.navButton__active {
  background-color: hsl(0, 0%, 100%);
}

.navButton:hover {
  background-color: var(--color-light);
}

@media only screen and (min-width: 35em) {
  .dotsContainer {
    border-top: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 45em) {
  .dotsContainer {
    border-top: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1rem;
  }
}
